    
body{
    background-color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color:#505679;
}
.mr{
    margin-right: 2rem;
}
.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2.5rem;
    box-shadow: 0px 2px 6px rgba(115, 114, 173, 0.25);
    position: sticky;
    top: 0;
    background-color: #FFF;
}
.header__left{
    display: block; 
}
.logo img{
    height: 40px;
}
.header_right{
    display: flex; 
}
.item{
    font-weight: 500;
    margin-right: 1rem;
    text-decoration: none;
    color: #535CAD;
    padding: 0.5rem;
    width: 100px;
}
.item:hover{
    border-bottom: 4px solid #535CAD;
}
.container__main{
    max-width: 1200px;
    margin: auto;
    padding: 2.5rem;

}
.container__apresentation{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.apresentation-left{
    padding: 1rem;
    width: 50%;
}
.apresentation-right{
    width: 50%;

}
.apresentation-img{
    width: -webkit-fill-available;
}
.title-main{
    color: #535CAD;
    font-size:54px;
    font-weight: 700;
    text-align: center;
}
.description{
    color: #505679;
    font-size: 28px;
    text-align: center;
    margin: 1rem 0;
}
.input{
    height: 40px;
    width: -webkit-fill-available;
    border-radius: 8px;
    border: 1px solid  #535CAD;
    margin-right: 1rem;
    padding: 0.1rem 1rem;
}
.input:focus{
    outline: none;

}
.button-area{
    display: flex;
    flex-direction: row;
    margin-bottom:0.25rem;
    
}
.button{
    width: 160px;
    color: #FFF;
    background-color: #535CAD;
    border-radius: 8px;
    border:none;
    height: 46px;
    font-size: 18px;
    cursor: pointer;
}

.container__footer{
    max-width: 1200px;
    
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.footer-left{
    margin: auto;
}

.title{
    color: #535CAD;
    font-size:32px;
    font-weight: 700;
    border-bottom: 1px solid #535CAD;
    width: 260px;
    text-align: left;
    padding: 0.5rem 0;
    margin: 0.5rem 0;

}
.strong{
    font-weight: 700;
}
.about{
    color: #505679;
    font-size: 18px;
    text-align: justify;
    
}
.description-content{
    display: flex;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}
.description-item{
    display: flex;
    align-items: center;
}
.item-img{
    min-width: 236px;
    width: 236px;
    height: 232px;
}
.item-text{
    min-width: 200px;
    width: 300px;
    margin-left: 1rem;
    text-align: justify;
}

.footer_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
}
.footer-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 353px;
    margin-top: 1.5rem
}
.name{
    color: #535CAD;
    font-weight:  700;
    font-size: 24px;
    margin: 0.5rem 0;
}
.text{
    text-align: center;
    margin-bottom: 0.25rem;
    font-size: 16px;
}
.icons{
    margin: 0.5rem 0;
}
.mx{
    margin: 0 0.5rem;
}
.txt{
    display: block;
    text-align: center;
    margin-bottom: 1rem
}

.fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    z-index: 9999;
}
.popdiv {
    font-size: 18px;
    height: fit-content;
    max-width: 30rem;
    border-radius: 6px;
    text-align: justify;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15vw auto;
}
.popup{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding:  3rem 2rem;
}

.pp-title{
    font-weight: 700;
    font-size:36px;
    margin-bottom:1rem;
    color: #535CAD;
}

.pp-content{
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 0.5rem;
}

.btn-close{
    position: absolute;
    top: 0.5rem;
    color: #505679;
    right: 1rem;
    cursor: pointer;
    font-size: 28px;
    font-weight: 500;
    border: none;
    background-color: #FFF;

}
.input-container--invalido {
    height: 40px;
    width: -webkit-fill-available;
    border-radius: 8px;
    margin-right: 1rem;
    padding: 0.1rem 1rem;
    border: 1px solid #ff9b9b;
    background-color: #fff1f1;
}
.input-container--invalido:focus{
    outline: none;
}
@media (max-width: 470px){
    .container_header{
        flex-direction: column;
    }
    .header__right{
        height: 40px;
        display: flex;
        align-items: center;
    }
    .item{
        display: flex;
        justify-content: center;

    }

}



@media (max-width: 670px){
    body{
        font-size: 16px;
    }
    .container_header{
        padding: 0.25rem 0.25rem

    }
    .sobre1{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .description-item{
        flex-direction: column;
    }
    .item-text{
        margin: 1rem 0;
    }
    .title-main{
        font-size: 42px;
    }
    .apresentation-left {
        width: 100%;

        }
}

@media (max-width: 1220px){
    .description-content{
        justify-content: center;
    }
}

@media (max-width: 1024px){
    .container__apresentation{
        flex-direction: column;
    }
    .apresentation-left{
        width: 80%;
    }
    .apresentation-right{
        order: -1;
    }
}